@model IEnumerable<QLThuVien.Models.CT_PM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Danh sách chi tiết các phiếu mượn</h2>

            <a href="~/Admin/AdminCT_PM/Create">
                <button type="button" class="btn btn-primary btn-fw">Tạo một chi tiết phiếu mượn mới</button>
            </a>

            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                <input type="text" class="form-control" placeholder="Tìm kiếm theo IDPM" name="IDPM">
            </form>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="color:white">
                                IDPM
                            </th>
                            <th style="color:white">
                                Tên sách
                            </th>
                            <th style="color:white">
                                Số lượng
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IDPM)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sach.TenSach)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoLuong)
                                </td>

                                <td>

                                    <a href="~/Admin/AdminCT_PM/Details/@item.ID">
                                        <button style="min-width:50px" type="button" class="btn btn-outline-success btn-fw">Details</button>
                                    </a>
                                    <a href="~/Admin/AdminCT_PM/Edit/@item.ID">
                                        <button style="min-width:50px" type="button" class="btn btn-outline-warning btn-fw">Edit</button>
                                    </a>
                                    <a href="~/Admin/AdminCT_PM/Delete/@item.ID">
                                        <button style="min-width:50px" type="button" class="btn btn-outline-danger btn-fw">Delete</button>
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <a href="~/Admin/AdminPhieuMuons/Index">
                <button type="button" class="btn btn-outline-secondary btn-lg btn-block" style="width:300px; margin-top:40px">Trở về</button>

            </a>

        </div>
    </div>
</div>