
@{
    ViewBag.Title = "Muon_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="dfdf">
    <h3>BẠN ĐÃ MƯỢN SÁCH THÀNH CÔNG</h3>
    <a href="@Url.Action("Index","Sach")" class="btn btn-primary">Trở Về</a>
</div>

<style>
    .dfdf {
       margin-top:200px;
       margin-bottom:200px;
        top: 30%;
        left: 30%;
        text-align: center
    }
</style>

