<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; <br />Nguyễn Hồ Thanh Luyên <br />Nguyễn Hoàng Thái Tuấn <br /> Thần Hải Điền
            </div>
            <div class="col-sm-6 text-right">
                Đồ án công nghệ phần mềm nâng cao <br /> Giảng viên hướng dẫn <br /> <p style="color:dodgerblue">Đăng Thị Kim Giao </p> 
            </div>
        </div>
    </div>
</footer>
